#history-card {
    width: 90%;
    justify-self: center;
    margin: 0;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

#order-history-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.order-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    padding: 16px 16px;
    align-items: center;
    border-top: none;
    width: 100%;
    max-width: 1200px;
    min-width: 510px;
}

.order-item p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #444;
    word-break: break-word;       
    overflow-wrap: anywhere;      
    white-space: normal;  
}

.order-item.header{    
    width: 100%;
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: rgba(34, 34, 34, 0.5);
    min-width: 510px;
    max-width: 1200px;
}

.order-item.header p {font-size: 14px;}