/* Profile Image Settings */
#image-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

#profile-pic {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    border: 2px solid rgb(103, 23, 126, 0.8);
}

#img-buttons {
    display: flex;
    gap: 0.5rem;
}

#img-buttons label,
#img-buttons button {
    background-color: #ad1ad2;
    font-size: .9rem;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

#img-buttons label:hover,
#img-buttons button:hover {
    color: #67177e;
    background-color: white;
    box-shadow: 0 2px 8px rgba(157, 40, 163, 0.4);
}

#img-buttons input[type="file"] {
    display: none;
}

/* Forms */
.box {
    background-color: #eed0f5;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1 );
    transition: all 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.005);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2)
}

.box p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
    color: #67177e;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .8rem;
}

.info-input,
.address-input {
    /* flex: 1 1 50%; */
    width: 45%;
    display: flex;
    flex-direction: column;
}

.info-input label,
.address-input label {
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: #67177e;
}

.info-input input,
.address-input input,
.s-input input,
.s-input select {
    padding: 0.5rem;
    border: 1px solid rgb(103, 23, 126, 0.6);
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(103, 23, 126, 0.4);
    transition: all 0.3s ease;
}

.info-input input:hover,
.address-input input:hover,
.s-input input:hover,
.s-input select:hover {
    border-color: #67177e;
    color: #67177e;
    box-shadow: 0 2px 6px rgb(103, 23, 126, 0.1);
    outline: none;
}

.info-input input:focus,
.address-input input:focus,
.s-input input:focus,
.s-input select:focus {
    border-color: #67177e;
    color: #67177e;
    outline: none;
}

.small-input {
    display: flex;
    gap: .8rem;
}

.s-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.s-input label {
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: #67177e;
}

.s-input button {
    background-color: #ad1ad2;
    color: #ffffff;
    border: none;
    padding: .6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0;
}

.s-input button:hover {
    color: #67177e;
    background-color: white;
    box-shadow: 0 2px 6px rgb(103, 23, 126, 0.3);
}

/* Save Button */
#save {
    background-color: #ad1ad2;
    font-size: .9rem;
    color: #ffffff;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    float: right;
}

#save:hover {
    color: #67177e;
    background-color: white;
    box-shadow: 0 2px 8px rgba(157, 40, 163, 0.3);
}

/* --------------PASSWORD MODAL------------------- */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2c1ea;
    padding: 1.5rem 3rem;
    border: 1px solid #888;
    width: 25%;
    border-radius: 8px;
    position: relative;
    border-bottom: 8px solid #77258d;
    color: #67177e;
}

#change-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 0.8rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.form-group {
    margin: 0; padding: 0;
    width: 100%;
    margin-bottom: 0.8rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: 500;
}

.form-group input {
    box-sizing: border-box;
    background-color: #f7f5ec;
    width: 100%;
    padding: .5rem;
    border-radius: 8px;
    border: 1px solid #f7f5ec;
    transition: all 0.3s ease-in-out;
}

.form-group input:hover {
    border: 1px solid #77258d;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-group input:focus {
    outline: none;
    border: 1px solid #77258d;
}

#save-password {
    width: 50%;
    padding: .5rem;
    color: #f7f5ec;
    background-color: rgb(119, 37, 141, 0.9);
    border: 1px solid rgb(103, 23, 126, 0.7);
    margin-top: .5rem;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

#save-password:hover {
    color: #67177e;
    background-color: #f7f5ec;
    box-shadow: 0 2px 6px rgba(103, 23, 126, 0.2);
    transform: scale(1.005);
}