/* -------------------PROFILE IMG----------------------- */
#image-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#profile-pic {
    width: 230px;
    height: 230px;
    border-radius: 10%;
    object-fit: cover;
    margin: 0;
}

#img-buttons {
    display: flex;
    gap: 0.5rem;
}

#img-buttons label,
#img-buttons button {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 14px;
    color: #f7f5eb;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

#img-buttons label:hover,
#img-buttons button:hover {
    color: black;
    background-color: white;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.4);
}

#img-buttons input[type="file"] {
    display: none;
}

/* -------------------FORMS----------------------- */
.box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.box p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .8rem;
}

.info-input,
.address-input {
    /* flex: 1 1 50%; */
    width: 45%;
    display: flex;
    flex-direction: column;
}

.info-input label,
.address-input label {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

.info-input input,
.address-input input,
.s-input input,
.s-input select {
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.info-input input:hover,
.address-input input:hover,
.s-input input:hover,
.s-input select:hover {
    border-color: rgb(0, 0, 0, 0.5);
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.1);
    outline: none;
}

.info-input input:focus,
.address-input input:focus,
.s-input input:focus,
.s-input select:focus {
    border-color: rgb(0, 0, 0, 0.5);
    outline: none;
}

.small-input {
    display: flex;
    gap: .8rem;
}

.s-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.s-input label {
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 0.9rem;
}

.s-input button {
    background-color: rgb(0, 0, 0, 0.8);
    color: #f7f5eb;
    border: none;
    padding: .6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0;
}

.s-input button:hover {
    color: black;
    background-color: white;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
}

/* -------------------SAVE BUTTON----------------------- */
#save {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: .9rem;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    float: right;
}

#save:hover {
    color: black;
    background-color: white;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
}

/* --------------PASSWORD MODAL------------------- */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.5rem 3rem;
    border: 1px solid #888;
    width: 25%;
    border-radius: 8px;
    position: relative;
    color: #584c1b;
    border: 1px solid rgb(0, 0, 0, 0.5);
    color: rgb(0, 0, 0, 0.7);
}

#change-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 0.8rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 1.6rem;
}

.form-group {
    margin: 0; padding: 0;
    width: 100%;
    margin-bottom: 0.8rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: 500;
}

.form-group input {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    padding: .5rem;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.form-group input:hover {
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.3);
    border: 1px solid rgb(0, 0, 0, 0.5);
}

.form-group input:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0.5);
}

#save-password {
    width: 50%;
    padding: .5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.839);
    border: none;
    margin-top: .5rem;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#save-password:hover {
    color: black;
    background-color: white;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.2);
    transform: scale(1.005);
}