* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    line-height: 1.6;
}

body::-webkit-scrollbar {
    width: 0px; background: none;
}

/* ------------------HEADER------------------- */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffefd8;
    padding: .8rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

#yumi {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo {
    width: 40px;
    height: 40px;
    background-image: url('/images/yumi-1.png');
    background-size: cover;
    background-position: center;
    margin-right: 0.5rem;
}

#title {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bolder;
    color: #ed9f49;
    color: #584c1b;
}

#icons {
    display: flex;
    gap: 1rem;
}

#icons .view {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

#icons .view svg {
    transition: transform 0.3s ease;
}

#icons .view:hover svg {
    transform: scale(1.1);
}

#icons .view:hover {
    background-color: rgb(237, 159, 73, 0.1);
    border-radius: 50%;
}

/* ----------------CONTAINER------------------- */
#container {
    display: flex;
    min-height: calc(100vh - 80px);
}

/* -------------SIDEBAR----------------  */
#sidebar {
    width: 250px;
    background-color: #fcf8e3;
    padding: 2rem 1rem;
    border-right: 1px solid rgb(0, 0, 0, 0.3);
    color: #584c1b;
}

#sb-options .tab {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

#sb-options .tab:hover {
    transform: scale(1.03);
    background-color: rgb(237, 159, 73, 0.3);
}

#sb-options .tab svg {
    margin-right: 0.75rem;
}

#sb-options .tab p {
    margin: 0;
    font-size: 1rem;
}

#sb-options #active {
    border: 2px solid #584c1b;
    border-style: dashed;
    background-color: rgb(237, 159, 73, 0.3);
}

/* -------------MAIN---------------- */
#main {
    flex: 1;
    padding: 2rem;
    background-color: #fdfbf4;
}

#main-box {
    max-width: 800px;
    margin: 0 auto;
}

#box-title {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 2.5px solid rgb(88, 76, 27, 0.9);
    padding-bottom: .3rem;
    margin-bottom: 2rem ;
    color: #584c1b;
}

/* -------------LOG OUT MODAL------------ */
.logout-modal {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5);
}

.logout-modal-content {
    background-color: #fdfbf4;
    margin: 15% auto;
    padding: .7rem;
    border: 1px solid #888;
    width: 20%; height: fit-content;
    text-align: center;
    border-radius: 8px;
    border-bottom: 8px solid #584c1b;
    color: #584c1b;
}

#confirm-logout, #cancel-logout {
    background-color: #7c6610;
    border-radius: 8px;
    border: none;
    color: #f7f5eb;
    font-weight: 500;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#confirm-logout:hover, #cancel-logout:hover {
    color: #ed9f49;
    background-color: #f7f5eb;
    box-shadow: 0 2px 6px rgba(88, 76, 27, 0.2);
    transform: scale(1.01);
}

.logout-modal-content p {
    margin-bottom: .5rem;
    margin-top: 2rem;
}

.logout-close:hover {color: black;}