a {
    text-decoration: none;
    color: black;
}

.wishlistSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-image {
    width: 100%;
    background-color: lightgray;
    max-width: 250px;
    height: auto;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 15px;
    object-fit: cover;
}

.product-card {
    text-decoration: none;
}

.product-title {
    margin: 0;
    font-size: 12px;
    color: black;
    padding: 10px;
    padding-top: 0;
    /* text-align: justify; */
}

.id{
    margin: 0;
    font-size: 10px;
    padding: 10px;
    padding-top: 0;
    text-align: justify;
}

.product-price {
    margin: 0;
    color: black;
    padding: 10px;
    padding-top: 0;
}

.product-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: scale(1.03);
}


.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-right: 1rem;
}